.widget {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 15%);
  padding: 30px 25px;
  background-color: white;

  &__button {
    padding: 10px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-top: 25px;
    cursor: pointer;
    background-color: #75cfb1;
    border-radius: 5px;
    color: white;
    border: 0;
    transition: all 0.2s linear;

    &:hover {
      background-color: #10B981;
      box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 15%);
    }
  }
}

.widget-item {
  &:last-child {
    margin-top: 25px;
  }
}

.select {
  margin-top: 10px;
}
